<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>966545194480-ja1b738s26n0cm9gkm9a4is0ufaa13fa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.966545194480-ja1b738s26n0cm9gkm9a4is0ufaa13fa</string>
	<key>API_KEY</key>
	<string>AIzaSyCCaQjftCpyyEPbCmaSVBIRPuyC3Pe-jag</string>
	<key>GCM_SENDER_ID</key>
	<string>966545194480</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.drulabs.devslopes-social</string>
	<key>PROJECT_ID</key>
	<string>devslopes-social-3ecfe</string>
	<key>STORAGE_BUCKET</key>
	<string>devslopes-social-3ecfe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:966545194480:ios:070e3db5901534e4</string>
	<key>DATABASE_URL</key>
	<string>https://devslopes-social-3ecfe.firebaseio.com</string>
</dict>
</plist>